USE [IPSPCamaroneraProduccion_Test]
GO
/****** Object:  Table [dbo].[migracion_log]    Script Date: 22/04/2025 01:34:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migracion_log](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime2](7) NULL,
	[modulo] [varchar](100) NULL,
	[estado] [varchar](50) NULL,
	[mensaje] [varchar](500) NULL,
	[error_info] [varchar](max) NULL,
	[usuario] [varchar](100) NULL,
	[estacion] [varchar](100) NULL,
	[registros_procesados] [int] NULL,
	[registros_fallidos] [int] NULL,
	[tiempo_ejecucion] [int] NULL,
	[detalle_adicional] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tempMigracionPiscina]    Script Date: 22/04/2025 01:34:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempMigracionPiscina](
	[idTempMigracionPiscina] [bigint] NULL,
	[ZONA_OLD] [varchar](75) NOT NULL,
	[IDZONA_OLD] [int] NOT NULL,
	[CODIGOZONA_OLD] [char](2) NOT NULL,
	[CAMARONERA_OLD] [varchar](75) NOT NULL,
	[IDCAMARONERA_OLD] [int] NOT NULL,
	[CODIGOCAMARONERA_OLD] [varchar](5) NOT NULL,
	[SECTOR_OLD] [varchar](75) NOT NULL,
	[IDSECTOR_OLD] [int] NOT NULL,
	[CODIGOSECTOR_OLD] [varchar](5) NOT NULL,
	[CODIGOPISCINA] [varchar](10) NOT NULL,
	[IDPISCINA] [int] NOT NULL,
	[NOMBREPISCINA] [varchar](75) NOT NULL,
	[KEYPISCINA] [varchar](8000) NULL,
	[ZONA_NEW] [varchar](6) NOT NULL,
	[IDZONA_NEW] [int] NOT NULL,
	[CODIGOZONA_NEW] [varchar](2) NOT NULL,
	[CAMARONERA_NEW] [varchar](6) NOT NULL,
	[IDCAMARONERA_NEW] [int] NOT NULL,
	[CODIGOCAMARONERA_NEW] [varchar](5) NOT NULL,
	[SECTOR_NEW] [varchar](7) NOT NULL,
	[IDSECTOR_NEW] [int] NOT NULL,
	[CODIGOSECTOR_NEW] [varchar](5) NOT NULL,
	[IDLOTE_NEW] [int] NOT NULL,
	[CICLO] [int] NULL,
	[ACTIVO] [int] NOT NULL,
	[TIPO] [varchar](7) NOT NULL,
	[PROCESADO] [int] NOT NULL,
	[USUARIO_PROCESO] [varchar](10) NOT NULL,
	[FECHA_PROCESO] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[migracion_log] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[migracion_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[migracion_log] ADD  DEFAULT (host_name()) FOR [estacion]
GO
ALTER TABLE [dbo].[migracion_log]  WITH CHECK ADD  CONSTRAINT [CK_migracion_log_estado] CHECK  (([estado]='ADVERTENCIA' OR [estado]='ERROR' OR [estado]='COMPLETADO' OR [estado]='EN_PROCESO' OR [estado]='INICIADO'))
GO
ALTER TABLE [dbo].[migracion_log] CHECK CONSTRAINT [CK_migracion_log_estado]
GO
