USE [IPSPCamaroneraProduccion]
GO
/****** Object:  Table [dbo].[tempMigracionPiscina]    Script Date: 19/05/2025 08:02:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempMigracionPiscina](
	[idTempMigracionPiscina] [bigint] NULL,
	[ZONA_OLD] [varchar](75) NOT NULL,
	[IDZONA_OLD] [int] NOT NULL,
	[CODIGOZONA_OLD] [char](2) NOT NULL,
	[CAMARONERA_OLD] [varchar](75) NOT NULL,
	[IDCAMARONERA_OLD] [int] NOT NULL,
	[CODIGOCAMARONERA_OLD] [varchar](5) NOT NULL,
	[SECTOR_OLD] [varchar](75) NOT NULL,
	[IDSECTOR_OLD] [int] NOT NULL,
	[CODIGOSECTOR_OLD] [varchar](5) NOT NULL,
	[CODIGOPISCINA] [varchar](10) NOT NULL,
	[IDPISCINA] [int] NOT NULL,
	[NOMBREPISCINA] [varchar](75) NOT NULL,
	[KEYPISCINA] [varchar](8000) NULL,
	[ZONA_NEW] [varchar](75) NOT NULL,
	[IDZONA_NEW] [int] NOT NULL,
	[CODIGOZONA_NEW] [varchar](2) NOT NULL,
	[CAMARONERA_NEW] [varchar](75) NOT NULL,
	[IDCAMARONERA_NEW] [int] NOT NULL,
	[CODIGOCAMARONERA_NEW] [varchar](5) NOT NULL,
	[SECTOR_NEW] [varchar](75) NOT NULL,
	[IDSECTOR_NEW] [int] NOT NULL,
	[CODIGOSECTOR_NEW] [varchar](5) NOT NULL,
	[IDLOTE_NEW] [int] NOT NULL,
	[CICLO] [int] NULL,
	[ACTIVO] [int] NOT NULL,
	[TIPO] [varchar](7) NOT NULL,
	[PROCESADO] [int] NOT NULL,
	[USUARIO_PROCESO] [varchar](10) NOT NULL,
	[FECHA_PROCESO] [datetime] NOT NULL
) ON [PRIMARY]
GO
